@import "tailwindcss";
@plugin "daisyui";

html, body, #root {
  background: transparent;
  overflow: hidden;
  user-select: none;
}

.drag-handle {
  --wails-draggable: drag;
}

.no-drag {
  --wails-draggable: no-drag;
}
